<form class="row g-3" autocomplete="off">
	<div class="col-md-4">
		<input type="text" class="form-control" id="pesquisa" name="pesquisa" [(ngModel)]="nome"
			placeholder="Pesquisa Por Nome">
	</div>

	<div class="col-md-4">
		<button type="button" (click)="findUser()" class="btn btn-secondary mb-2">Pesquisar</button>
		<button type="button" [routerLink]="['/usuarioAdd']" style="width: 93px; margin-left: 5px;" class="btn btn-success mb-2">Novo</button>
	</div>
	
</form>

<table class="table table-striped table-hover">
	<thead>
		<th>ID</th>
		<th>Nome Completo</th>
		<th>Nome de Usuario</th>
		<th>Accões</th>
	</thead>
	<tbody>
		<tr *ngFor="let usuario of usuarios">
			<td>{{usuario.id}}</td>
			<td>{{usuario.fullName}}</td>
			<td>{{usuario.userName}}</td>
			<td>
				<button (click)="deleteUser(usuario.id)" style="width: 77px;" class="btn btn-primary">Deletar</button>
				<button [routerLink]="['/usuarioAdd', usuario.id]" style="width: 77px; margin-left: 5px;"
					class="btn btn-warning">Editar</button>
			</td>
		</tr>
	</tbody>
</table>