<form class="row g-3" autocomplete="off">
	<div class="col-md-4">
		<input type="text" class="form-control" id="pesquisa" name="pesquisa" [(ngModel)]="nome"
			placeholder="Pesquisa Por Nome">
	</div>

	<div class="col-md-4">
		<button type="button" (click)="findUser()" class="btn btn-success mb-2">Pesquisar</button>
	</div>
</form>

<table class="table table-striped table-hover">
	<thead>
		<th>ID</th>
		<th>Nome Completo</th>
		<th>Nome de Usuario</th>
		<th>Accões</th>
	</thead>
	<tbody>
		<tr *ngFor="let usuario of usuarios">
			<td>{{usuario.id}}</td>
			<td>{{usuario.fullName}}</td>
			<td>{{usuario.userName}}</td>
			<td>
				<button (click)="deleteUser(usuario.id)" class="btn btn-primary">Deletar</button>
				<button class="btn btn-warning" >Editar</button>
			</td>
		</tr>
	</tbody>
</table>