<h2 style="padding: 10px;">Cadastro de Usuário</h2>
<form id="formUser" class="row g-3" #formValida="ngForm" autocomplete="off">

	<div class="col-md-2">
		<label for="id" class="form-label">ID</label>
		<input type="text" [(ngModel)]="usuario.id" [ngModelOptions]="{standalone: true}" class="form-control" id="id" readonly="readonly">
	</div>
	<div class="col-md-12">
		<label for="fullName" class="form-label">Nome Completo</label>
		<span style="color: red; font-size: 23px;" *ngIf="nomeValidate.invalid"> *</span>
		<input type="text" #nomeValidate="ngModel" [(ngModel)]="usuario.fullName" [ngModelOptions]="{standalone: true}" class="form-control" name="fullName" required placeholder="Exemplo: Monkey D. Luffy">
	</div>
	<div class="col-md-6">
		<label for="userName" class="form-label">Nome de Usuário</label>
		<span style="color: red; font-size: 23px;" *ngIf="userValidate.invalid"> *</span>
		<input type="text" #userValidate="ngModel" [(ngModel)]="usuario.userName" [ngModelOptions]="{standalone: true}" class="form-control" name="userName" required placeholder="Exemplo: Monkey">
	</div>
	<div class="col-md-6">
		<label for="passWord" class="form-label">Palavra-Passe</label>
		<span style="color: red; font-size: 23px;" *ngIf="senha.invalid"> *</span>
		<input type="password" #senha="ngModel" [(ngModel)]="usuario.passWord" [ngModelOptions]="{standalone: true}" class="form-control" name="passWord" required placeholder="Exemplo: password12">
	</div>

	<div class="col-md-12">
		<button type="button" class="btn btn-success" style="width: 87px;" [routerLink]="['/usuarioList']" >Voltar</button>
		<button type="button" class="btn btn-primary" style="width: 87px; margin-left: 5px;" [disabled]="nomeValidate.invalid || userValidate.invalid || senha.invalid" (click)="saveUser()">Salvar</button>
		<button type="button" class="btn btn-danger" style="width: 87px; margin-left: 5px;" (click)="cancelar()">Cancelar</button>
	</div>
</form>