<form id="formUser" class="row g-3" method="post" enctype="multipart/form-data">

	<div class="col-12">
		<label for="id" class="form-label">ID</label>
		<input type="text" class="form-control" id="id" readonly="readonly">
	</div>
	<div class="col-md-6">
		<label for="nome" class="form-label">Nome</label>
		<input type="text" class="form-control" name="nomee" placeholder="Exemplo: Monkey D. Luffy">
	</div>
	<div class="col-md-6">
		<label for="bi" class="form-label">BI</label>
		<input type="text" class="form-control" name="bi" placeholder="Exemplo: 100213123419M">
	</div>
	<div class="col-md-4">
		<label for="dataNasc" class="form-label">Data de Nascimento</label>
		<input type="date" class="form-control" name="dataNasc" th:field="*{dataNasc}">
	</div>
	<div class="col-md-4">
		<label for="email" class="form-label">Email</label>
		<input type="email" class="form-control" name="email" placeholder="Exemplo: luffy@gmail.com">
	</div>

	<div class="col-md-4">
		<label for="file" class="form-label">Curriculo</label>
		<input type="file" class="form-control" name="file">
	</div>


	<div class="col-md-12">
		<button type="submit" class="btn btn-primary">Salvar</button>
		<a href="/" class="btn btn-secondary" onclick="document.getElementById('formUser').reset()">Cancelar</a>
	</div>
</form>